@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'General Sans', sans-serif;
}

h1 {
    font-family: 'SF Pro Text', sans-serif;
}

p {
    font-family: var(--font-ibm-plex-mono);
}
