@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'General Sans', sans-serif;
    @apply bg-black text-white;
}

h1 {
    font-family: 'SF Pro Text', sans-serif;
}
@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.animate-marquee {
    animation: marquee 15s linear infinite;
}

.blog-content h4 {
    @apply text-xl tablet:text-2xl text-white;
}

.blog-content p {
    @apply mt-3;
}

.blog-content > div {
    @apply mt-10;
}
